@model webWhyPark.Models.Cliente

@{
    ViewData["Title"] = "Cadastro do Cliente";


    <style scoped>

        * {
            margin: 0;
        }

        body {
            background: #3f3c3c;
            box-sizing: border-box;
        }

        .main-cadastro {
            width: 100vw;
            height: 100vw;
            background: rgb(63, 60, 60);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .left-cadastro {
            width: 50vw;
            height: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .left-cadastro>h1 {
            font-size: 3vh;
            color: rgb(209, 205, 205);
        }

        .right-cadastro {
            width: 50vw;
            height: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card-cadastro-cliente {
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 30px 35px;
            background: rgb(86, 85, 85);
            border-radius: 20px;
            box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.335);
        }

        .card-cadastro-cliente>h1 {
            color: rgb(209, 205, 205);
            font-weight: 800;
            margin: 0;
        }

        .form-group {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin: 10px 0px;
        }

        .form-group>input {
            width: 100%;
            border: none;
            border-radius: 10px;
            padding: 15px;
            background: whitesmoke;
            font-size: 12pt;
            box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.335);
            outline: none;
            box-sizing: border-box;
        }

        .form-group>label {
            color: white;
            margin-bottom: 10px;
        }

        .btn-cadastro-cliente {
            width: 50%;
            padding: 16px 0px;
            margin: auto;
            border: none;
            border-radius: 8px;
            outline: none;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            font-weight: 800;
            color: black;
            background: lightgray;
            cursor: pointer;
            box-shadow: 0px 10px 4px -12px #0000005a;
        }
    </style>
}


<body>

    <div class="main-cadastro">
        <div class="left-cadastro text-center">
            <h1>Falta pouco para estacionar o seu carro.<br>Faça seu cadastro!</h1>
            <img src="/../imagens/cadastroCliente.svg" class="left-cadastro-image" alt="cadastre-se">
        </div>

        <div class="right-cadastro ">
            <div class="card-cadastro-cliente">
                <h1>Cadastre-se</h1>
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger">
                    </div>

                    <div class="form-group">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Senha" class="control-label"></label>
                        <input asp-for="Senha" class="form-control" />
                        <span asp-validation-for="Senha" class="text-danger"></span>
                    </div>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a class="btn-cadastro-cliente" asp-controller="Home" asp-action="Index">Voltar</a>
                        <input type="submit" value="Cadastrar" class="btn-cadastro-cliente" />
                    </div>
                </form>
            </div>
        </div>

</body>

@section Scripts{
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}