@model IEnumerable<webWhyPark.Models.Cliente>

@{
    ViewData["Title"] = "Perfil do Cliente";

    <style scoped>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        :root {
            --gray: rgb(209, 205, 205);
            --darkgray: rgb(63, 60, 60);
            --lightgray: rgb(245, 245, 245);
            --white: rgb(255, 255, 255);
            --grayDetaisCard: rgba(96, 96, 96, 0.8);
        }

        body {
            min-height: 100vh;
            overflow-x: hidden;
        }

        .container {
            position: relative;
            width: 100%;
        }

        .navigation {
            position: fixed;
            left: 0%;
            width: 300px;
            height: 100%;
            background: var(--gray);
            border-left: 5px solid var(--gray);
            transition: 0.5s;
            overflow: hidden;
        }

        .navigation.active {
            width: 80px;
            transition: 0.5s;
        }

        .navigation ul {
            position: absolute;
            top: 10px;
            left: -20px;
            width: 100%;
        }

        .navigation ul li {
            position: relative;
            width: 100%;
            list-style: none;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        .navigation ul li:hover,
        .navigation ul li.hovered {
            background: var(--lightgray);
        }

        .navigation ul li:nth-child(1) {
            margin-bottom: 40px;
            pointer-events: none;
        }

        .navigation ul li a {
            position: relative;
            display: block;
            width: 100%;
            display: flex;
            text-decoration: none;
            color: var(--darkgray);
        }

        .navigation ul li:hover a .navigation ul li.hovered a {
            color: var(--gray);
        }

        .navigation ul li a .icon {
            position: relative;
            display: block;
            min-width: 60px;
            height: 60px;
            line-height: 75px;
            text-align: center;
        }

        .navigation ul li a .icon ion-icon {
            font-size: 1.75em;
        }

        .navigation ul li a .title {
            position: relative;
            display: block;
            padding: 0 10px;
            height: 60px;
            line-height: 60px;
            text-align: start;
            white-space: nowrap;
            font-weight: 500;
        }

        @*Curvaparaoalto*@.navigation ul li:hover a::before,
        .navigation ul li.hovered a::before {
            content: '';
            position: absolute;
            right: -20px;
            top: -60px;
            width: 60px;
            height: 60px;
            background: transparent;
            border-radius: 50%;
            box-shadow: 35px 35px 0 10px var(--lightgray);
            pointer-events: none;
        }

        @*Curvaparabaixo*@.navigation ul li:hover a::after,
        .navigation ul li.hovered a::after {
            content: '';
            position: absolute;
            right: -20px;
            bottom: -60px;
            width: 60px;
            height: 60px;
            background: transparent;
            border-radius: 50%;
            box-shadow: 46px -35px 0 10px var(--lightgray);
            pointer-events: none;
        }

        @*Main*@.main {
            position: absolute;
            width: calc(100% - 300px);
            left: 300px;
            min-height: 100vh;
            background: var(--lightgray);
            transition: 0.5s;
        }

        .main.active {
            width: calc(100% - 80px);
            left: 80px;
        }

        .topbar {
            width: 100%;
            height: 60%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
        }

        .toggle {
            position: relative;
            top: 0;
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.5em;
            cursor: pointer;
        }

        .search {
            position: relative;
            width: 400px;
            margin: 0 10px;
        }

        .search label {
            position: relative;
            width: 100%;
        }

        .search label input {
            width: 100%;
            height: 40px;
            border-radius: 40px;
            padding: 5px 20px;
            padding-left: 35px;
            font-size: 18px;
            outline: none;
            border: 1px solid var(--darkgray);
        }

        .search label ion-icon {
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 1.4em;
        }

        @*ImagemUsuário*@.user {
            position: relative;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            cursor: pointer;
        }

        .user img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @*Cards*@.cardBox {
            position: relative;
            width: 100%;
            padding: 20px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
        }

        .cardBox .card {
            position: relative;
            background: var(--white);
            padding: 30px;
            border-radius: 8px;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            box-shadow: 0 7px 25px rgb(0, 0, 0, 0.1);
        }

        .cardBox .card .numbers {
            position: relative;
            font-weight: 500;
            font-size: 2.5em;
            color: var(--grayDetaisCard);
        }

        .cardBox .card .cardName {
            color: var(--grayDetaisCard);
            font-size: 1.1em;
            margin-top: 5px;
        }

        .cardBox .card .iconBox {
            font-size: 3.5em;
            color: var(--grayDetaisCard)
        }

        .cardBox .card:hover {
            background: var(--gray);
        }

        .cardBox .card:hover .numbers,
        .cardBox .card:hover .cardName,
        .cardBox .card:hover .iconBox {
            color: var(--white);
        }
    </style>
}


<body>

    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="person-circle-outline"></ion-icon>
                        </span>asdas
                        <span class="title"> @TempData["Nome"]</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
                        <span class="title">Gerenciar conta</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="mail-outline"></ion-icon>
                        </span>
                        <span class="title">Cadastrar Veículos</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="file-tray-full-outline"></ion-icon>
                        </span>
                        <span class="title">Histórico</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="star-outline"></ion-icon>
                        </span>
                        <span class="title">Favoritos</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="mail-outline"></ion-icon>
                        </span>
                        <span class="title">Mensagens</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="information-circle-outline"></ion-icon>
                        </span>
                        <span class="title">Ajuda</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <a span class="title" asp-action="Logout">Sair</a></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    @* Main *@
    <div class="main">
        <div class="topbar">
            <div class="toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </div>
            @* Pesquisar *@
            <div class="search">
                <label>
                    <input type="text" placeholder="Pesquisar">
                    <ion-icon name="search-outline"></ion-icon>
                </label>
            </div>
            @* Imagem de Usuário *@
            <div class="user">
                <img src="/../imagens/batman.jpg" alt="usuario">
            </div>
        </div>

        @* Cards *@
        <div class="cardBox">
            <div class="card">
                <div>
                    <div class="numbers">12</div>
                    <div class="cardName">Paradas</div>
                </div>
                <div class="iconBox">
                    <ion-icon name="car-outline"></ion-icon>
                </div>
            </div>

            <div class="card">
                <div>
                    <div class="numbers">4</div>
                    <div class="cardName">Favoritos</div>
                </div>
                <div class="iconBox">
                    <ion-icon name="star-outline"></ion-icon>
                </div>
            </div>

            <div class="card">
                <div>
                    <div class="numbers">1</div>
                    <div class="cardName">Mensagem</div>
                </div>
                <div class="iconBox">
                    <ion-icon name="chatbubbles-outline"></ion-icon>
                </div>
            </div>


        </div>






        @*Ícones*@
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

        <script>
            @* Configurando o menu hamburguer ou menu toggle, colocando dentro da barra do dashboard *@
                let toggle = document.querySelector('.toggle');
            let navigation = document.querySelector('.navigation');
            let main = document.querySelector('.main');

            toggle.onclick = function () {
                navigation.classList.toggle('active');
                main.classList.toggle('active');
            }

        </script>

        <script>
            @* Adicionando "hovered" class quando um item da lista é selecionado *@
                let list = document.querySelectorAll('.navigation li');
            function activeLink() {
                list.forEach((item) =>
                    item.classList.remove('hovered'));

                this.classList.add('hovered');
            }
            list.forEach((item) =>
                item.addEventListener('mouseover', activeLink));
        </script>

</body>

@*
    @Html.ActionLink("Fazer Logoff","Logout");*@

@* @foreach (var perm in ViewBag.Permissoes)
    {
    <p>Cargo:<u>@perm</u></p>
    }
*@