@model webWhyPark.Models.Estacionamento

@{
    ViewData["Title"] = "Efetuar login";

    <style scoped>
        .body {
            margin: 0;
        }

        body * {
            box-sizing: border-box;
        }

        .main-login {
            width: 100vw;
            height: 100vh;
            background: rgb(63, 60, 60);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .left-login {
            width: 50vw;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .left-login>h1 {
            font-size: 3vw;
            color: rgb(209, 205, 205);
        }

        .right-login {
            width: 50vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card-login {
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 30px 35px;
            background: rgb(86, 85, 85);
            border-radius: 20px;
            box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.335);
        }

        .card-login>h1 {
            color: rgb(209, 205, 205);
            font-weight: 800;
            margin: 0;
        }

        .textfield {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin: 10px 0px;
        }

        .textfield>input {
            width: 100%;
            border: none;
            border-radius: 10px;
            padding: 15px;
            background: whitesmoke;
            font-size: 12pt;
            box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.335);
            outline: none;
            box-sizing: border-box;
        }

        .textfield>label {
            color: white;
            margin-bottom: 10px;
        }

        .btn-login {
            width: 50%;
            padding: 16px 0px;
            margin: auto;
            border: none;
            border-radius: 8px;
            outline: none;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            font-weight: 800;
            color: black;
            background: lightgray;
            cursor: pointer;
            box-shadow: 0px 10px 4px -12px #0000005a;
        }

        .left-login-image {
            height: 520px;
        }
    </style>
}

<body>

    <div class="main-login">
        <div class="left-login">
            <h1>Boas vindas ao sistema Why Park!<br>Faça o seu login!</h1>
            <img src="/../imagens/entrarEstacionamento.svg" class="left-login-image" alt="carro">
        </div>
        <div class="right-login">
            <div class="card-login">
                <h1 class="fs-1">Login</h1>
                <form asp-action="LoginPark" class="w-75">
                    <div asp-validation-summary="ModelOnly" class="text-danger">
                    </div>
                    <div class="textfield">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="textfield">
                        <label asp-for="Senha" class="control-label"></label>
                        <input asp-for="Senha" type="password" />
                        <span asp-validation-for="Senha" class="text-danger"></span>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        @* <a class="btn-login" asp-controller="Home" asp-action="Index">Voltar</a> *@
                        <input type="submit" value="Entrar" class="btn-login mt-3" />
                    </div>
                </form>
            </div>
        </div>

</body>

<hr />

<h3> @ViewBag.Message </h3>
</div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}