@{
  ViewData["Title"] = "Home Page";
  <style scoped>
    section {
      width: 100%;
      height: calc(100vh - 124px);
      background-image: url("../imagens/home.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: start;
      flex-direction: column;
    }

    textarea:focus,
    input:focus,
    select:focus {
      box-shadow: 0 0 0 0 !important;
      border: 0 none !important;
      outline: 0 !important;
    }
  </style>
}

<main class="bg-dark">
  <section class="container-fluid">
    <figure class="text-center container" style="margin-bottom: 80px;">
      <blockquote class="blockquote py-4">
        <h1 class="text-white mt-4">WhyPark</h1>
      </blockquote>
      <blockquote class="blockquote text-light">
        O estacionamento mais próximo de você!
      </blockquote>
    </figure>

    <form class="form-control  rounded-pill w-50 p-0 ml-0 d-flex align-items-center justify-content-center flex-row"
      style="height: 50px;">
      <div class=" bg-white px-2  rounded-pill" style="margin-left:10px ;"><i class="fa fa-map-marker"
          style="font-size:26px"></i>

      </div>
      <input class="form-control outline-none border-0 w-100  h-100 " placeholder="Informe o endereço" />
      <button type="submit" class="px-5   btn  border-0 text-white rounded-pill "
        style="height: 50px; margin-right: -2px !important; background: #000000;"><i
          class=" 	fa fa-search"></i></button>
    </form>
    </div>
  </section>

</main>
