@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <main class="container">
  <section>
      <figure class="text-center">
          <blockquote class="blockquote">
            <h1>WhyPark</h1>
          </blockquote>
          <blockquote class="blockquote">
            O estacionamento mais próximo de você!
          </blockquote>
        </figure>

          <div class="form-floating">
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
              <label for="floatingTextarea">Informe o endereço</label>
              <button type="button" class="btn btn-secondary btn-lg">Buscar</button>
            </div>
      </div>
  </section>

  <section>
    <img src="../imagens/home.jpg" class="img-fluid rounded-1" alt="estacionamento">
  </section>

</main>
   
</div>
