
@{
    ViewData["Title"] = "Sobre";

    <style scoped>

.list-group {

}


    </style>
}

<body>

<div class="main-lista">
    <h1>Desenvolvedores</h1>
        <ul class="list-group">
            <li class="list-group-item">Flávia</li>
            <li class="list-group-item">Isabela</li>
            <li class="list-group-item">Julio</li>
            <li class="list-group-item">Raphael</li>
            <li class="list-group-item">Paulo</li>

        </ul>
</body>