@model webWhyPark.Models.Estacionamento

@{
    ViewData["Title"] = "Cadastro do estacionamento";

<style scoped>

* {
    margin: 0;
}

body {
    background: #3f3c3c;
    box-sizing: border-box;
}

.main-form {
    margin-top: 6%;
    width: 100vw;
    max-height: calc(100vh - 100px);
    background: rgb(63, 60, 60);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-left {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-left > h1 {
    font-size: 3vh;
    color: rgb(209, 205, 205);
}

.form-right {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-cadastro {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: rgb(86, 85, 85);
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.335);
}

.card-cadastro > h1 {
    color: rgb(209, 205, 205);
    font-weight: 800;
    margin: 0;
}

.inputbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.inputbox > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: whitesmoke;
    font-size: 12pt;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.335);
    outline: none;
    box-sizing: border-box;
}

.inputbox > label {
    color: white;
    margin-bottom: 10px;
}

.btn-cadastro {
    width: 50%;
    padding: 16px 0px;
    margin: auto;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: 800;
    color: black;
    background: lightgray;
    cursor: pointer;
    box-shadow: 0px 10px 4px -12px #0000005a;
    white-space: normal;
}

.form-left-img {
    height:520px;
}

</style>
}

<body>

<div class="main-form">

    <div class="form-left">
        <h1>Cadastre o seu estacionamento!</h1>
            <img src="/../imagens/parking-animate.svg" class="form-left-img" alt="estacionamento">
    </div>

    <div class="form-right">
        <div class="card-cadastro">
            <h1>Cadastro</h1>
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger">
                    </div>

        <div class="inputbox">
            <label asp-for="RazaoSocial" class="control-label"></label>
            <input asp-for="RazaoSocial" class="form-control" />
            <span asp-validation-for="RazaoSocial" class="text-danger"></span>
        </div>
        <div class="inputbox">
            <label asp-for="CNPJ" class="control-label"></label>
            <input asp-for="CNPJ" class="form-control" />
            <span asp-validation-for="CNPJ" class="text-danger"></span>
        </div>
        <div class="inputbox">
            <label asp-for="Telefone" class="control-label"></label>
            <input asp-for="Telefone" class="form-control" />
            <span asp-validation-for="Telefone" class="text-danger"></span>
        </div>
        <div class="inputbox">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" type="email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class= "d-grid gap-2 d-md-flex justify-content-md-end">
            @* <a class="btn-cadastro" asp-action="Index">Voltar</a> *@
            <input type="submit" value="Cadastrar" class="btn-cadastro" />
        </div>

        </form>
    </div>
</div>

</body>


@section Scripts{
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}